In [1]:
import pandas as pd
import numpy as np

In [3]:
import plotly.express as px

In [21]:
df=pd.read_csv("/Users/karthikraghunathkumar/Downloads/Python Programs/Content/Flipkart_mobile_brands_scraped_data.csv")

In [23]:
df.head()

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990.0,15990.0
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990.0,15990.0
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990.0,17990.0
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990.0,17990.0
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990.0,15990.0

In [27]:
df.tail()

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
2642,Xiaomi,Redmi Y3,Bold Red,4 GB,64 GB,4.3,12999.0,13999.0
2643,Xiaomi,Redmi Y3,Elegant Blue,3 GB,32 GB,4.3,9450.0,NaN
2644,Xiaomi,Redmi Y3,Elegant Blue,4 GB,64 GB,4.2,12999.0,NaN
2645,Xiaomi,Redmi Y3,Prime Black,3 GB,32 GB,4.2,9950.0,NaN
2646,Xiaomi,Redmi Y3,Prime Black,4 GB,64 GB,4.3,12499.0,13999.0

In [63]:
df.dtypes

Brand             object
Model             object
Color             object
Memory            object
Storage           object
Rating           float64
Selling Price    float64
dtype: object

In [61]:
df.describe()

            Rating  Selling Price
count  2647.000000    2644.000000
mean      4.001700   26461.362330
std       0.997499   29833.135164
min       0.000000    1000.000000
25%       4.000000    9490.000000
50%       4.300000   14999.000000
75%       4.400000   29998.250000
max       5.000000  179900.000000

In [59]:
df.shape

(2647, 7)

In [57]:
df.isnull().sum()

Brand              0
Model              2
Color            142
Memory            42
Storage           79
Rating             0
Selling Price      3
dtype: int64

In [55]:
df=df.drop(columns=['Original Price'])

In [65]:
df_clean=df.dropna(axis=0)

In [67]:
df_clean.shape

(2436, 7)

In [69]:
df.isnull().sum()

Brand              0
Model              2
Color            142
Memory            42
Storage           79
Rating             0
Selling Price      3
dtype: int64

In [71]:
df_clean.isnull().sum()

Brand            0
Model            0
Color            0
Memory           0
Storage          0
Rating           0
Selling Price    0
dtype: int64

In [75]:
df_clean.head()

  Brand Model            Color Memory Storage  Rating  Selling Price
0  OPPO   A53  Moonlight Black   4 GB   64 GB     4.5        11990.0
1  OPPO   A53       Mint Cream   4 GB   64 GB     4.5        11990.0
2  OPPO   A53  Moonlight Black   6 GB  128 GB     4.3        13990.0
3  OPPO   A53       Mint Cream   6 GB  128 GB     4.3        13990.0
4  OPPO   A53   Electric Black   4 GB   64 GB     4.5        11990.0

In [81]:
brands = df_clean.groupby(by="Brand").count().sort_values(ascending=False,by="Model")

In [87]:
brands.head()

         Model  Color  Memory  Storage  Rating  Selling Price
Brand
SAMSUNG    634    634     634      634     634            634
Apple      346    346     346      346     346            346
realme     245    245     245      245     245            245
OPPO       243    243     243      243     243            243
Xiaomi     164    164     164      164     164            164

In [89]:
brands = brands.reset_index()

In [91]:
brands.head()

     Brand  Model  Color  Memory  Storage  Rating  Selling Price
0  SAMSUNG    634    634     634      634     634            634
1    Apple    346    346     346      346     346            346
2   realme    245    245     245      245     245            245
3     OPPO    243    243     243      243     243            243
4   Xiaomi    164    164     164      164     164            164