In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 5.0 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 12.9 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=4662b023540d93e22139c13375c0fc9084c5ed3d59eddf53a14322afeb7fa0bb
  Stored in directory: /Users/karthikraghunathkumar/Library/Caches/pip/wheels/95/13/41/f7f135ee114175605fb4f0a89e7389f3742aa6c1e1a5bcb657
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.1

In [15]:
from pyspark.sql import SparkSession

In [20]:
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

24/06/27 13:56:54 WARN Utils: Your hostname, karthikraghunaths-Laptop.local resolves to a loopback address: 127.0.0.1; using 192.168.29.212 instead (on interface en0)
24/06/27 13:56:54 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/27 13:56:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [26]:
# spark is an existing SparkSession
df = spark.read.csv("Content/Flipkart_mobile_brands_scraped_data.csv", header=True, escape="\"")
# Displays the content of the DataFrame to stdout
df.show()
# +----+-------+
# | age|   name|
# +----+-------+
# |null|Michael|
# |  30|   Andy|
# |  19| Justin|
# +----+-------+

+-----+-------+---------------+------+-------+------+-------------+--------------+
|Brand|  Model|          Color|Memory|Storage|Rating|Selling Price|Original Price|
+-----+-------+---------------+------+-------+------+-------------+--------------+
| OPPO|    A53|Moonlight Black|  4 GB|  64 GB|   4.5|        11990|         15990|
| OPPO|    A53|     Mint Cream|  4 GB|  64 GB|   4.5|        11990|         15990|
| OPPO|    A53|Moonlight Black|  6 GB| 128 GB|   4.3|        13990|         17990|
| OPPO|    A53|     Mint Cream|  6 GB| 128 GB|   4.3|        13990|         17990|
| OPPO|    A53| Electric Black|  4 GB|  64 GB|   4.5|        11990|         15990|
| OPPO|    A53| Electric Black|  6 GB| 128 GB|   4.3|        13990|         17990|
| OPPO|    A12|      Deep Blue|  4 GB|  64 GB|   4.4|        10490|         11990|
| OPPO|    A12|          Black|  3 GB|  32 GB|   4.4|         9490|         10990|
| OPPO|    A12|           Blue|  3 GB|  32 GB|   4.4|         9490|         10990|
| OPPO|    A12| Flowing Silver|  3 GB|  32 GB|   4.4|         9490|         10990|
| OPPO|    A12|      Deep Blue|  3 GB|  32 GB|   4.4|         9490|         10990|
| OPPO|    A12| Flowing Silver|  4 GB|  64 GB|   4.4|        10490|         11990|
| OPPO|A53s 5G|   Crystal Blue|  6 GB| 128 GB|   4.3|        15990|         16990|
| OPPO|A53s 5G|      Ink Black|  6 GB| 128 GB|   4.3|        15990|         16990|
| OPPO|    A12|           Blue|  4 GB|  64 GB|   4.4|        10490|         11990|
| OPPO|A53s 5G|   Crystal Blue|  8 GB| 128 GB|   4.3|        17990|         18990|
| OPPO|A53s 5G|      Ink Black|  8 GB| 128 GB|   4.3|        17990|         18990|
| OPPO|    A33|Moonlight Black|  3 GB|  32 GB|   4.3|        10490|         12990|
| OPPO|    A31|     Lake Green|  4 GB|  64 GB|   4.3|        11960|         12990|
| OPPO|    A31|  Mystery Black|  4 GB|  64 GB|   4.3|        11779|         11919|
+-----+-------+---------------+------+-------+------+-------------+--------------+
only showing top 20 rows

In [28]:
df.show(5,0)

+-----+-----+---------------+------+-------+------+-------------+--------------+
|Brand|Model|Color          |Memory|Storage|Rating|Selling Price|Original Price|
+-----+-----+---------------+------+-------+------+-------------+--------------+
|OPPO |A53  |Moonlight Black|4 GB  |64 GB  |4.5   |11990        |15990         |
|OPPO |A53  |Mint Cream     |4 GB  |64 GB  |4.5   |11990        |15990         |
|OPPO |A53  |Moonlight Black|6 GB  |128 GB |4.3   |13990        |17990         |
|OPPO |A53  |Mint Cream     |6 GB  |128 GB |4.3   |13990        |17990         |
|OPPO |A53  |Electric Black |4 GB  |64 GB  |4.5   |11990        |15990         |
+-----+-----+---------------+------+-------+------+-------------+--------------+
only showing top 5 rows

In [30]:
df.count()

2647

In [32]:
df.select('Model').distinct().count()

774

In [34]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [42]:
df.groupBy('Brand').agg(countDistinct('Model').alias('Count')).orderBy(desc('Count')).show()

+------------+-----+
|       Brand|Count|
+------------+-----+
|     SAMSUNG|  206|
|       Nokia|   82|
|        OPPO|   73|
|          LG|   64|
|      GIONEE|   61|
|      Lenovo|   55|
|      realme|   54|
|    Motorola|   50|
|      Xiaomi|   42|
|        ASUS|   31|
|        vivo|   25|
|       Apple|   25|
|Google Pixel|    9|
|        POCO|    5|
|         HTC|    2|
|        IQOO|    1|
+------------+-----+

In [46]:
import time

currenttime= time.localtime(time.time())
print ('Current time is', currenttime)

Current time is time.struct_time(tm_year=2024, tm_mon=6, tm_mday=27, tm_hour=14, tm_min=32, tm_sec=24, tm_wday=3, tm_yday=179, tm_isdst=0)